asgiref==3.2.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
Django==3.0.2
django-tinymce4-lite==1.7.5
html5lib==1.0.1
idna==2.8
jsmin==2.2.2
kiwisolver==1.1.0
lxml==4.6.3
numpy==1.18.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
seaborn==0.9.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.7
virtualenv==16.7.9
virtualenv-clone==0.5.3
webencodings==0.5.1
